.progressBar {
    height: 3px;
    margin-top: -3px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    transform: translateX(-26.5%);
    animation: initialLoad 1.1s linear, mediumLoad 2s linear 1.1s, slowDown 5.5s linear 3.1s;
    overflow: hidden;
}

.progressBarValue {
    width: 100%;
    height: 100%;
    background-color: #769FCD;
    transform-origin: 0% 50%;
}

.pageLoaderContainer {
    position: fixed;
    top: 57px;
    z-index: 110;
    left: 0;
    width: 100%;
}

@keyframes initialLoad {
    0% {transform: translateX(-90%);}
    100% {transform: translateX(-55%);}
}

@keyframes mediumLoad {
    0% {transform: translateX(-55%);}
    100% {transform: translateX(-40%);}
}

@keyframes slowDown {
    0% {transform: translateX(-40%);}
    100% {transform: translateX(-26.5%);}
}